
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

/* BARRA DE NAVEGACION */

nav {
    background-color: rgb(35, 35, 35);
    display: flex;
    align-items: center;
    height: 50px;
    padding: 20px 20px;
    border-radius: 0px 0px 20px 20px;
    min-width: 300px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

nav svg {
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

/* MARGIN PARA TODAS LA SECCIONES */

 #blog {
    margin-top: 5px;
}


/*CONTENIDO PRINCIPAL */

.blog-main img {
    width: 100%;
    min-width: 270px;
    border-radius: 40px;
    padding: 20px;
}


.blog-main h2 {
    font-size: 2.5rem;
    padding: 12px 20px;
    color: white;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.blog-main {
    background-color: rgb(35, 35, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    border-radius: 20px;
    min-width: 320px;
}

.blog-main .imagenes {
    width: 100%;
    min-width: 270px;
    border-radius: 40px;
    padding: 20px;
    max-width: 690px;
}

.blog-main p {
    font-size: 1.6rem;
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
}

/*SECCION SHARE */

.share {
    background-color: rgb(35, 35, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    padding: 20px 0;
    border-radius: 20px;
    min-width: 320px;
    margin-top: 5px;
}

.share h3 {
    font-size: 1.6rem;
}

.shares {
    display: flex;
    margin: 10px 0;
}

.shares a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    margin: 0px 10px;
    font-size: 1.5rem;
    border-radius: 10px;
}



/* SECCION BLOG */

#blog {
    background-color: rgb(35, 35, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    padding: 20px 0;
    border-radius: 20px 20px 0 0;
    min-width: 320px;
}


#blog .title {
    margin: 40px 0;
}


#blog .title h3 {
    font-size: 3.6rem;
    text-align: center;
}

.blog-cards {
    overflow-y: scroll;
    width: 100%;
    max-width: 1010px;
}


.blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    justify-content: center;
    background-color: rgb(27, 26, 26);
    height: 295px;
    min-width: 270px;
    width: 100%;
    max-width: 970px;
    border-radius: 20px;
}

.blog-card img {
    width: 250px;
    opacity: .6;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
}

.blog-card a {
    font-size: 1.8rem;
    width: 100%;
    min-width: 260px;
    max-width: 300px;
    padding: 10px 10px 5px 0px;
    text-align: center;
    text-decoration: none;
    color: white;
}


.blog-card .autor {
    font-size: 1.5rem;
    color: rgb(197, 197, 197);
}

.blog-card .cate {
    font-size: 1.2rem;
    background-color: green;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
}