* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}


/* CONTENIDO PRINCIPAL */

.salute--section h3 {
    font-size: 1.6rem;
    padding-bottom: 13px;
    color: rgb(122, 122, 122);
}

.salute--section {
    background-color: rgb(35, 35, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 800px;
    padding: 20px 0;
    border-radius: 0 0 20px 20px;
    min-width: 320px;
}

.salute--section svg {
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 90px;
}

main section p {
    font-size: 1.5rem;
    text-align: center;
    width: 230px;
    margin: 7px 0;

}


.salute {
    font-size: 3.1rem;
    position: relative;
    animation: typing 3s steps(17), blink .5s step-end infinite alternate;
    overflow: hidden;
    border-right: 2px solid;
    white-space: nowrap;
    z-index: 3;
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 72%;
    }
    
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.linea {
    margin-top: 15px;
    height: 2px;
    width: 80px;
    background-color: white;
    z-index: 3;
}


main section figure {
    margin-top: 15px;
    z-index: 3;
}

main section figure img {
    height: 38px;
    width: 38px;
    z-index: 3;
}

/* MARGIN PARA TODAS LA SECCIONES */

#aboutme, #techstack, #works {
    margin: 5px 6px;
}

.salute--section {
    margin: 0px 0px;
}

#contact {
    margin-top: 5px;
}

/*SECCION SLIDER */

.slider-first {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    overflow-y: hidden;
    margin: 0 6px;
}

/*SECION ABOUT ME */

#aboutme {
    background-color: rgb(35, 35, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    padding: 20px;
    border-radius: 20px;
    min-width: 320px;
    text-align: center;
    scroll-snap-align: center;
}

#aboutme h3 {
    font-size: 3.6rem;
    margin-bottom: 10px;
}

#aboutme p {
    font-size: 1.7rem;
    width: 280px;
}

/*SECCION DE TECH STACK */

#techstack {
    background-color: rgb(35, 35, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    padding: 20px 0;
    border-radius: 20px;
    min-width: 320px;
    text-align: center;
    scroll-snap-align: center;
    overflow: scroll;
}

#techstack h3 {
    font-size: 3.6rem;
    width: 190px;
    margin-top: 90px;
}

.article-container {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.icons {
    display: flex;
    background-color: rgb(27, 26, 26);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.icons h4 {
    font-size: 1.5rem;
}

.icons img {
    width: 50px;
}

/*SECCION WORKS */

#works {
    background-color: rgb(35, 35, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    padding: 20px 0;
    border-radius: 20px;
    min-width: 320px;
    text-align: center;
    scroll-snap-align: center;
}

#works h3 {
    font-size: 3.6rem;
    margin-bottom: 30px;
    width: 190px;
}

.works-cards img {
    width: 280px;
    border-radius: 20px;
}

.works-cards p {
    text-align: center;
    width: 270px;
    font-size: 1.7rem;
    margin: 20px 0;
}

.works-cards button {
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid white;
}


.works-cards button a {
    text-decoration: none;
    color: white;
}

/* SECCION BLOG */

#blog {
    background-color: rgb(35, 35, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    padding: 20px 0;
    border-radius: 20px;
    min-width: 320px;
}


#blog .title {
    margin: 40px 0;
}


#blog .title h3 {
    font-size: 3.6rem;
    text-align: center;
}

.blog-cards {
    overflow-y: scroll;
    width: 100%;
    max-width: 1010px;
}


.blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    justify-content: center;
    background-color: rgb(27, 26, 26);
    height: 270px;
    min-width: 270px;
    width: 100%;
    max-width: 970px;
    border-radius: 20px;
}

.blog-card img {
    width: 250px;
    opacity: .6;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
}

.blog-card a {
    font-size: 1.8rem;
    width: 100%;
    min-width: 260px;
    max-width: 400px;
    padding: 20px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.blog-card p {
    font-size: 1.4rem;
    color: rgb(197, 197, 197);

}

/*SECCION CONTACT */

#contact {
    background-color: rgb(35, 35, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    padding: 20px 0;
    border-radius: 20px 20px 0 0;
    min-width: 320px;
    text-align: center;
    scroll-snap-align: center;
}

.article-container--form h3 {
    font-size: 3.6rem;
    margin-bottom: 30px;
}

form input, textarea, button {
    margin: 14px 0;
    outline: none;
}

.name input {
    background-color: transparent;
    width: 270px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    
}

.name input::placeholder {
    color: white;
}

.email input {
    background-color: transparent;
    width: 270px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    
}

.email input::placeholder {
    color: white;
}

.message textarea {
    width: 270px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.message textarea::placeholder {
    color: white;
    padding: 10px;
}

.button button {
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}











