body::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0, 0, 0, 0.781)
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(72, 72, 72);
    border-radius: 20px;
}

html {
    scroll-behavior: smooth;
}

.salute--section {
    height: 850px;
}

.salute--section h3 {
    font-size: 2.3rem;
    padding-bottom: 9px;
}

.salute {
    font-size: 6.5rem;
}
main section p {
    font-size: 2.2rem;
}


main section h2 {
    animation: typing 3s steps(10), blink .5s step-end infinite alternate;
}


@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 31%;
    }
    
}

main section h3 {
    font-size: 3.9rem;
    margin: 20px 0;
}


main section .p {
    font-size: 1.7rem;
    text-align: center;
}

main section p {
    font-size: 1.8rem;
}

.slider-first {
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

#techstack::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0, 0, 0, 0.781);
}

#techstack::-webkit-scrollbar-thumb {
    background-color: rgb(72, 72, 72);
    border-radius: 20px;
}

#techstack {
    overflow-x: hidden;
}

.blog-card img {
    width: 700px;
}

.blog-cards::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0, 0, 0, 0.781);
}

.blog-cards::-webkit-scrollbar-thumb {
    background-color: rgb(72, 72, 72);
    border-radius: 20px;
}