body {
    overflow-y: hidden;
}

header {
    background-color: rgb(0, 0, 0, 0.9);
}

header a .logo-usuario {
    color: white;
}

.menu {
    color: white;
}

header nav ul li a {
    color: white;
}

main section {
    height: 891px;
}

main section h2 {
    font-size: 6.5rem;
}

main section .article-container {
    display: flex;

}

main section .icons {
    margin: 20px 10px;
}

.formas1 {

    filter: blur(30px);
}

.formas2 {

    filter: blur(30px);
}

.formas3 {
    filter: blur(30px);
}

main section h2 {
    animation: typing 3s steps(10), blink .5s step-end infinite alternate;
}